.galery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 20px;
}

.galery-items {
    width: 20%;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.galery-items {
    box-shadow: 0px 0px 10px rgba(255, 58, 3, 0.3);
    object-fit: cover;
}