.gallery-detail-header {
  position: relative;
  background-image: url('https://images.nasa.gov/images/global-header_bg..png');
  min-height: 15vh;
}

.gallery-container-navbar {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20%;
  left: 40%;
}

.gallery-detail-navbar img {
  cursor: pointer;
}

.gallery-header-link {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ccc;
}

.gallery-detail-main {
  display: flex;
  justify-content: center;
}

.gallery-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.gallery-detail-img {
  box-shadow: 1px 2px 3px 1px #0d0e11;
  border: 1px solid #373943;
  width: 100%;
}

.gallery-left {
  margin-right: 1rem;
}

.gallery-link-container {
  margin: 1rem;
  text-align: center;
}

.gallery-link {
  font-size: 1rem;
  text-decoration: none;
  padding: 5rem;
  font-size: .95rem;
  
}

.gallery-link::before {
  content: 'Home > estas viendo:  ';
  font-size: 1rem;
  color: #007bff;
  font-weight: bold;
}

.gallery-link span {
  color: #fff;
}

.gallery-right {
  width: 40%;
}

.gallery-rigth-button {
  display: flex;
  border: none;
  background-color: #15418c;
  color: #fff;
  padding: 10px 16px;
  width: 20%;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: .7rem;
}

.gallery-right-input {
  color: #cccccc;
  background-color: #1d1e24;
  width: 100%;
  border: none;
  padding: .3rem;
  margin-bottom: .7rem;
  font-size: 13px;
  line-height: 13px;
}

.gallery-right-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .3rem;
}

.gallery-right-id {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-top: .3rem;
}

.gallery-right-id span {
  background-color: #353740;
  color: #dddddd;
  padding: 3px 5px;
  font-weight: 300;
  margin: 0 0 0 3px;
  font-size: .8rem;
}

.gallery-right-desc {
  font-size: .85rem;
  line-height: 20px;
  color: #ddd;
  margin-top: .3rem;
}

.gallery-right-date {
  font-size: .9rem;
  margin-top: .3rem;
  font-weight: bold;
}

.gallery-right-date span {
  color: #ccc;
}

.gallery-right-center {
  margin-top: .3rem;
  font-weight: bold;
}

.gallery-right-center span,
.gallery-right-keywords span {
  text-decoration: underline;
  cursor: pointer;
  color: #81aefb;
  font-size: .85rem;
}

.gallery-right-keywords {
  font-weight: bold;
  margin-top: .3rem;
}

@media screen and (max-width:1311px) {
  .gallery-container-navbar{
    left: 35%;
  }
}

@media screen and (max-width:1109px) {
  .gallery-container-navbar{
    left: 25%;
  }

  .gallery-detail-main{
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .gallery-rigth-button {
    width: 100%;
  }

  .gallery-right{
    width: 100%;
  }
}

@media screen and (max-width:833px){
  .gallery-container-navbar{
    left: 45%;
  }
  .gallery-header-link{
    display: none;
  }
}

@media screen and (max-width:633px){
  .gallery-container-navbar{
    flex-direction: column;
  }
  
  .gallery-detail-img{
    margin-bottom: .5rem;
  }
  .gallery-left-share{
    flex-direction: column;
  }
  .btn-share{
    width: 100%;
  }

  .gallery-icons {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width:374px){
  .gallery-detail-main{
    width: 90%;
  }

  .gallery-container-navbar{
    left: 35%;
  }
}

.gallery-left-share {
  display: flex;
  justify-content: space-between;
}

.btn-content-share {
  border: 1px solid #000000;
}

.btn-share {
  display: flex;
  align-items: center;

  background-color: #3f424c;
  border: none;
  color: #fff;
  padding: 8px 12px 5px 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.btn-share span {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: .3rem;
}

.gallery-share-socials {
  display: flex;
  align-items: center;
}

.gallery-share-socials img {
  width: 30px;
}

.gallery-share-socials h3 {
  font-weight: bold;
  font-size: .85rem;
}

.gallery-icons ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.gallery-icons li {
  margin-inline: .3rem;
  cursor: pointer;
}