.gallery-detail-header {
  
}

.gallery-detail-background {
  width: 100%;
  max-height: 20vh;
}

.gallery-detail-container {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}

.gallery-detail-img {
  width: 100%;
}

.gallery-left {
  display: flex;
  justify-content: center;
}

.gallery-link {
  font-size: .8rem;
  text-decoration: none;
  padding: 5rem;
}

.gallery-link span {
  color: #fff;
}

.gallery-right {
  width: 50%;
}

.gallery-rigth-button {
  display: flex;
  border: none;
  background-color: #15418c;
  color: #fff;
  padding: 10px 16px;
  width: 15%;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: .7rem;
}

.gallery-right-input {
  color: #cccccc;
  background-color: #1d1e24;
  width: 100%;
  border: none;
  padding: .3rem;
  margin-bottom: .7rem;
  font-size: 13px;
  line-height: 13px;
}

.gallery-right-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .3rem;
}

.gallery-right-id {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-top: .3rem;
}

.gallery-right-id span {
  background-color: #353740;
  color: #dddddd;
  padding: 3px 5px;
  font-weight: 300;
  margin: 0 0 0 3px;
  font-size: .8rem;
}

.gallery-right-desc {
  font-size: .85rem;
  line-height: 20px;
  color: #ddd;
  margin-top: .3rem;
}

.gallery-right-date {
  font-size: .9rem;
  margin-top: .3rem;
  font-weight: bold;
}


.gallery-right-date span {
  color: #ccc;
}

.gallery-right-center {
  margin-top: .3rem;
  font-weight: bold;
}

.gallery-right-center span,
.gallery-right-keywords span {
  text-decoration: underline;
  cursor: pointer;
  color: #81aefb;
  font-size: .85rem;
}

.gallery-right-keywords {
  font-weight: bold;
  margin-top: .3rem;
}