*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #26282f;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1300px) {
  /* .header-search {
      width: 100%;
  } */
   
  .header-search-input{
      width: 100%;
  }
}
